<header
    class="container flex flex-col px-6 py-4 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:max-w-full lg:items-center lg:bg-gray-100 dark:bg-gray-800">
    <div class="flex flex-col items-center lg:w-1/2">
        <div class="max-w-lg">
            <h1 class="text-3xl font-lexend font-semibold tracking-wide text-gray-800 dark:text-white lg:text-4xl">
                <span class="text-blue-500">ANTROY</span> TECH
            </h1>
            <p class="mt-4 text-gray-600 font-inter text-lg dark:text-gray-300">
                {{ .Site.Params.homepage.description }}
            </p>

            <form class="mt-6 w-2/3">
                <div class="relative max-w-lg">
                    <label class="sr-only" for="email"> Email </label>

                    <input
                        class="w-full rounded-md border-gray-200 bg-white focus:outline outline-blue-500 p-4 pr-32 text-sm font-inter font-base"
                        id="email" type="email" placeholder="name@example.com" />

                    <button
                        class="absolute top-1/2 right-1 -translate-y-1/2 rounded-md bg-blue-600 px-5 py-3 text-sm font-lexend font-base text-white transition hover:bg-blue-700"
                        type="button">
                        Subscribe
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="md:flex hidden items-center justify-center w-full h-96 lg:w-1/2">
        <img class="object-cover h-full max-w-2xl rounded-full" src="{{ .Site.Params.homepage.photo }}"
            alt="apple watch photo" />
    </div>
</header>